.layaout-wrapper {
  display: flex;
  height: 100%; // Asegura que ocupe toda la altura de la pantalla
  width: 100vw;
}

.main--content {
  position: relative;
  background: #EBE9E9;
  width: 100%;
  padding: 1rem;
  height: max-content;
  overflow-x: hidden;
}