.home-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; // Asegura que ocupe toda la altura de la pantalla
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.grid-container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  height: 420px;

  .grid-item {
    grid-column: span 1;
    vertical-align: super;
    padding: 2rem 10rem;
  }
}