<div class="table-container">
  <table class="characters-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Status</th>
        <th>Species</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters">
        <td><img [src]="character.image" alt="{{character.name}}"></td>
        <td>{{ character.name }}</td>
        <td>{{ character.status }}</td>
        <td>{{ character.species }}</td>
      </tr>
    </tbody>
  </table>
</div>
