// styles.scss

.navbar {
  z-index: 10;
  width: 100vw;
  background-color: #2C003E;
}

.navbar-container {
  margin: 0 auto;
  padding-left: 1.75rem; // px-7
  padding-right: 1.75rem; // px-7
}

.navbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem; // py-4
  padding-bottom: 1rem; // py-4
}

.navbar-logo {
  display: flex;
  align-items: center;

  svg {
    width: 100px;
    height: 100px;
  }
}

.navbar-logo-text {
  font-size: 1.5rem; // text-2xl
  font-weight: bold; // font-bold
  color: #B6FF00;

  span {
    color: #90CAF9;
  }
}

.navbar-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.75rem; // rounded-xl
  background-color: transparent;
  width: 58.33%; // w-7/12
  gap: 1.5rem; // space-x-6
}

header {
  background-color: #2C003E;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .container {
    max-width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .inner-container {
    background-color: #2C003E7E;
    padding: 0 2rem;
    
    .content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .text-section {
        position: relative;
        width: 50%;

        h1 {
          font-weight: bold;
          font-size: 2.25rem;
          width: 83.3333%;
          color: #39FF14;
        }

        p {
          margin-top: 2rem;
          color: #FFD54F;
          width: 83.3333%;
        }
      }

      .image-section {
        margin-left: auto;
        margin-bottom: -14rem;
        width: 50%;

        img {
          position: relative;
          z-index: 10;
          width: 400px;
        }
      }
    }
  }
}
